
    <h1>Vehicle Telemetry</h1>
    <p class="lead">Aplicacion de Prototipo para guardado y visualizacion de datos por telemetria de los vehiculos</p>

<div class="row">
    <div class="col-md-4">
        <h2>Requerimientos</h2>
        <p>Para utilizar la aplicacion es necesario tener docker y docker compose instalado, y correr el archivo de docker-compose.yml
        con el comando "docker-compose run", Ademas es encesario utilizar postman o similar para mandar las request a la API  </p>
    </div>
    <div class="col-md-4">
        <h2>Proyecto</h2>
        <p>Luego de iniciar el proyecto el mismo corre en https://localhost:44352/</p>
        
    </div>
    <div class="col-md-4">
        <h2>Uso</h2>
        <p>1)  Hacer una consulta POST a https://localhost:44352/api/initialize sin ningun body, para iniciar la base de datos </p>
        <p>2)  Hacer una consulta GET a https://localhost:44352/api/get para visualizar las entradas</p>
        <p>3)  Hacer una consulta POST a https://localhost:44352/api/post con el body explicado en el archivo "ejemploregistro.json" para crear un nuevo </p>

    </div>
</div>
